.mainBlock {
    min-height: 100vh;
    /* width: 100vw; */
    background-color: #f5df4e;
    display: flex;
    align-items: center;
    justify-content: center;
}




.photo {
    
    /* border: 2px solid black; */
}

.text {

}


.container {
    width: 90%;
    height: 100%;
    display: flex;
    /* border: 2px solid red; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #f5df4e; */

}


@media screen and (max-width: 1488px){
    .container {
        flex-direction: column;
        /* background-color: blueviolet; */
        justify-content: center;
    }
  
}


