.remote {
    height: 40vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.container {
    width: 80%;
    display: flex;
    align-items: center;
    border: 2px solid red;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}