.contacts {
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #f5df4e;

}

.container {
    /* background-color: antiquewhite; */
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    /* text-align: center; */
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.touch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.form {
    
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
}



